flows_Beta.json
[{"id":"780d9c98.a6c674","type":"tab","label":"Hello Beta","disabled":false,"info":""},{"id":"9f911624.772cc8","type":"inject","z":"780d9c98.a6c674","name":"","topic":"","payload":"Hello  Beta","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":120,"wires":[["e8b656f4.877928"]]},{"id":"e1963a0c.33f078","type":"debug","z":"780d9c98.a6c674","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":120,"wires":[]},{"id":"e8b656f4.877928","type":"function","z":"780d9c98.a6c674","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["e1963a0c.33f078"]]}]